<li class="peep">

<span class='fullname'>
	<a href="/peeps/<%= peep.poster_username %>"><em><%= peep.poster_fullname %></em> </a>
</span>

<span class='username'>@<%= peep.poster_username %></a>
</span>

<span class='timestamp'>
	<% if ((DateTime.now - peep.created_at)*24).to_i > 24 %>
		<%= peep.created_at.strftime("%b %d") %>
	<% elsif ((DateTime.now - peep.created_at)*24).to_i < 1 %>
		<%= ((DateTime.now - peep.created_at)*24*60).to_i %>m
		<% else %>
			<%= ((DateTime.now - peep.created_at)*24).to_i %>h
	<% end %>
</span>

	<div class='message'>
		<%= peep.message %>
	</div>

</li>
